{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stylish Home - News</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pe-icon-7-stroke.min.css' %}">
    <link rel="shortcut icon" type="text/css" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="blog-v2">
    <!-- HEADER -->
    <header id="main-header" class="header-page hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="inner">                
                <div class="main-menu">
                    <nav class="navbar collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="level1 hassub megamenu-default">
                                <a href="{% url 'shop' %}">Shop</a>
                            </li>
                            <li class="level1">
                                <a href="{% url 'about_us' %}">About</a>
                            </li>
                            <li class="level1 megamenu-fullwidth">
                                <a href="#">News</a>
                            </li>
                            <li class="level1">
                                <a href="{% url 'contact_us' %}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="logo text-center">
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h2>Stylish Home</h2></a>
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h7>  Furniture for Your Home</h7></a>
                </div>
                <div class="header-right">
                    
                    <!-- Start Shopping cart -->
                    <div id="cart_top">
                        <div class="shopping-cart">
                            <a href="{% url 'cart:cart_detail' %}" class=button">
                                <span class="text-cart">Cart</span>
                            </a>
                        </div>
                    </div>
                    <!-- End Shopping cart -->
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER MOBILE-->
    <header id="header_mobile" class="header-mobile-default header-page hidden-lg hidden-md">
        <div class="header-top">
            <div class="container">
                <div class="logo text-center">
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h2>Stylish Home</h2></a>
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h7>  Furniture for Your Home</h7></a>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="inner">                
                    <div class="header-main">
                        <div class="main-left">
                            <button data-toggle="offcanvas" class="btn btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                               <i class="ion ion-android-menu"></i>
                            </button>  
                        </div>
                            <!-- Start Shopping cart -->
                            <div class="shopping-cart">
                                <a href="{% url 'cart:cart_detail' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                                    <span class="text-cart">Cart</span>
                                </a>
                            </div>
                            <!-- End Shopping cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </header>
    <!-- END-HEADER -->
    <section class="banner-blog">
        <div class="img_banner">
            <h4 class="banner-h4"></h4>
        </div>
    </section>
    <!-- BLOG ZIGZAG -->
    {% block content %}
    {% for post in posts %}
    <section class="blog-zigzag ">
        <div class="container">
            <div class="wpb_wrapper">
                <div class="row">
                    <div class="item-zigzag clearfix">
                        <div class="col-sm-6 col-xs-12 col-sm-push-6">
                            <div class="post-standard">
                                <a href="{{ post.get_absolute_url }}">
                                </a>
                                <figure><img src="{{ post.image }}"></figure>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
                            <div class="oct_top_featured_content">
                                <span class="oct_day"></span>
                            </div>
                            <h3 class="oct_blog_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <p class="k_blog_content">Published {{ post.publish }}</p>
                            {{ post.body|truncatewords:50|linebreaks }}
                            <div class=" btn-web ">
                                <a href="{{ post.get_absolute_url }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="btn text-center">
                        {% include "pagination.html" with page=posts %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <!-- Menu offcanvas -->
    <div id="pbr-off-canvas" class="pbr-off-canvas sidebar-offcanvas hidden-lg hidden-md">
        <div class="pbr-off-canvas-body">
            <div class="offcanvas-head">
                <button type="button" class="btn btn-close btn-toggle-canvas" data-toggle="offcanvas">
                    <i class="pe-7s-close-circle"></i> 
                </button>
                <span>Menu</span>
            </div>  
            <nav class="navbar navbar-offcanvas navbar-static">
                <ul class="nav navbar-nav">
                    <li class="level1 active hassub">
                        <a href="{% url 'shop' %}">Shop</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'about_us' %}">About</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="#">News</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'contact_us' %}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <!-- Search popup content -->
    <div id="mymodal" class="modal fade mymodal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><span class="pe-7s-close"></span></button>
            </div>                                
        </div>
    </div>
    <!--SCOLL TOP-->
    <a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--END / SROLL TOP-->
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vit-gallery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.appear.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.littlelightbox.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="{% static 'js/function.js' %}"></script>
</body>

</html>