{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stylish Home - Product Details</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pe-icon-7-stroke.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="shortcut icon" type="text/css" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="single-product">
    <!-- HEADER -->
    <header id="main-header" class="header-page hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="inner">                
                <div class="main-menu">
                    <nav class="navbar collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="level1 hassub megamenu-default">
                                <a href="{% url 'shop' %}">Shop</a>
                            </li>
                            <li class="level1">
                                <a href="{% url 'about_us' %}">About</a>
                            </li>
                            <li class="level1 megamenu-fullwidth">
                                <a href="{% url 'news' %}">News</a>
                            </li>
                            <li class="level1">
                                <a href="{% url 'contact_us' %}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="logo text-center">
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h2>Stylish Home</h2></a>
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h7>  Furniture for Your Home</h7></a>
                </div>
                <div class="header-right">
                    
                    <!-- Start Shopping cart -->
                    <div id="cart_top">
                        <div class="shopping-cart">
                            <a href="{% url 'cart:cart_detail' %}" class="button">
                                <span class="text-cart">Cart</span>
                            </a>
                        </div>
                    </div>
                    <!-- End Shopping cart -->
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER MOBILE-->
    <header id="header_mobile" class="header-mobile-default hidden-lg hidden-md">
        <div class="header-top">
            <div class="container">
                <div class="logo text-center">
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h2>Stylish Home</h2></a>
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h7>  Furniture for Your Home</h7></a>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="inner">                
                    <div class="header-main">
                        <div class="main-left">
                            <button data-toggle="offcanvas" class="btn btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                               <i class="ion ion-android-menu"></i>
                            </button>  
                        </div>
                        <div class="main-right">
                            <!-- Start Shopping cart -->
                            <div class="shopping-cart">
                                <a href="{% url 'cart:cart_detail' %}" class="button">
                                    <span class="text-cart">Cart</span>
                                </a>
                            </div>
                            <!-- End Shopping cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </header>
    <!-- END-HEADER -->
    <!-- BREADCRUMB-->
    <section id="breadcrumb" class="breadcrumb-v2">
        <div class="container-fluid">
            <div class="inner">
                <div class="breadcrumb-content">
                </div>
            </div>
        </div>
    </section>
    <section id="main-content">
        <div class="single-product-detail row">
            <div class="col-md-6">
                <div class="single-product-img">
                    <div class="pro-slide js-product-slider">
                        <div class="item">
                            <img src="{{ product.image.url }}" class="img-responsive" alt="Product" title="images products">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-product-infor">
                    <div class="pro-title">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="pro-price">
                        <span class="price">$ {{ product.price }}</span>
                    </div>
                    <div class="pro-option-color">
                    </div>
                    <div class="pro-option-attribute">
                        <div class="pro-option-size">
                        </div>
                        <div class="pro-quantity">
                        </div>
                    </div>
                    <div class="pro-action">
                        <div class="btn-theme btn-medium addcart">
                            <form action="{% url 'cart:cart_add' product.id %}" method="post"> {{ cart_product_form }}
                            {% csrf_token %}
                            <input type="submit" value="Add to cart">
                            </form>
                        </div>
                        <div class="pro-wishlist">
                        </div>
                    </div>
                    <div class="pro-tabs">
                        <div class="tabs-desc">
                            <ul class="navbar-tabs">
                                <li class="dropdown open">
                                    <div class="desc">
                                        <h3>Description</h3>
                                        <i class="icon-caret"></i>
                                    </div>                                    
                                    <div class="dropdown-menu">
                                        <p>{{ product.description|linebreaks }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Menu offcanvas -->
    <div id="pbr-off-canvas" class="pbr-off-canvas sidebar-offcanvas hidden-lg hidden-md"> 
        <div class="pbr-off-canvas-body">
            <div class="offcanvas-head">
                <button type="button" class="btn btn-close btn-toggle-canvas" data-toggle="offcanvas">
                    <i class="pe-7s-close-circle"></i> 
                </button>
                <span>Menu</span>
            </div>  
            <nav class="navbar navbar-offcanvas navbar-static">
                <ul class="nav navbar-nav">
                    <li class="level1 active hassub">
                        <a href="{% url 'shop' %}">Shop</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'about_us' %}">About</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'news' %}">News</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'contact_us' %}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> 
    <!-- Search popup content -->
    <div id="mymodal" class="modal fade mymodal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><span class="pe-7s-close"></span></button>
            </div>                                
        </div>
    </div>   
    <!--SCOLL TOP-->
    <a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--END / SROLL TOP-->
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vit-gallery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.appear.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.littlelightbox.js' %}"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="{% static 'js/function.js' %}"></script>
</body>
</html>