{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stylish Home - Shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pe-icon-7-stroke.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="shortcut icon" type="text/css" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="page-shop page-shop-v3">
	<!-- HEADER -->
    <header id="main-header" class="header-page hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="inner">                
                <div class="main-menu">
                    <nav class="navbar collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="level1 hassub megamenu-default">
                                <a href="shop-v1.html">Shop</a>
                            </li>
                            <li class="level1">
                                <a href="{% url 'about_us' %}">About</a>
                            </li>
                            <li class="level1 megamenu-fullwidth">
                                <a href="{% url 'news' %}">News</a>
                            </li>
                            <li class="level1">
                                <a href="{% url 'contact_us' %}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="logo text-center">
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h2>Stylish Home</h2></a>
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h7>  Furniture for Your Home</h7></a>
                </div>
                <div class="header-right">
                    <!-- Start Shopping cart -->
                    <div id="cart_top">
                        <div class="shopping-cart">
                            <a href="{% url 'cart:cart_detail' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                                <span class="text-cart">Cart</span>
                            </a>
                        </div>
                    </div>
                    <!-- End Shopping cart -->
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER MOBILE-->
    <header id="header_mobile" class="header-mobile-default hidden-lg hidden-md">
        <div class="header-top">
            <div class="container">
                <div class="logo text-center">
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h2>Stylish Home</h2></a>
                    <a class="logo-default" href="{% url 'home_page' %}" title="logo"><h7>  Furniture for Your Home</h7></a>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="inner">                
                    <div class="header-main">
                        <div class="main-left">
                            <button data-toggle="offcanvas" class="btn btn-offcanvas btn-toggle-canvas offcanvas" type="button">
                               <i class="ion ion-android-menu"></i>
                            </button>  
                        </div>
                        <div class="main-right">
                            <!-- Start Shopping cart -->
                            <div class="shopping-cart">
                                <a href="{% url 'cart:cart_detail' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                                    <span class="text-cart">Cart</span>
                                </a>
                            </div>
                            <!-- End Shopping cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </header>
    <!-- END-HEADER -->
{% block content %}
    <section id="main-content">
        <div class="container-fluid inner">
            <div class="row">
                    <div class="products product-grid">
                        <div class="product-block">
                            <div class="row">
                                <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
                                <div class="widget widget-category">
                            <div class="paginations">
                                <ul>
                                    <li {% if not category %}class="selected"{% endif %}><a href="{% url 'shop' %}">All</a></li>
                                    {% for c in categories %}
                                    <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                                {% for product in products %}
                                <div class="item col-lg-3 col-md-6 col-sm-6">
                                    <div class="wrap-box-1">
                                        <div class="box-img">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{{ product.image }}"
                                                     class="img-responsive" alt="Product" title="images products">
                                            </a>
                                            <div class="content-item">
                                                <h5 class="title-h5"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                                                <div class="bottom">
                                                    <div class="text-left pull-left">
                                                        <span class="price">$ {{ product.price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                </div>
    <div class="col-md-9">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
	<!-- Menu offcanvas -->
    <div id="pbr-off-canvas" class="pbr-off-canvas sidebar-offcanvas hidden-lg hidden-md"> 
        <div class="pbr-off-canvas-body">
            <div class="offcanvas-head">
                <button type="button" class="btn btn-close btn-toggle-canvas" data-toggle="offcanvas">
                    <i class="pe-7s-close-circle"></i> 
                </button>
                <span>Menu</span>
            </div>  
            <nav class="navbar navbar-offcanvas navbar-static">
                <ul class="nav navbar-nav">
                    <li class="level1 active hassub">
                        <a href="#">Shop</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'about_us' %}">About</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'news' %}">News</a>
                    </li>
                    <li class="level1 hassub">
                        <a href="{% url 'contact_us' %}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> 
    <!-- Search popup content -->
    <div id="mymodal" class="modal fade mymodal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><span class="pe-7s-close"></span></button>

                <form method="get" class="searchform" action="#">
                    <div class="pbr-search input-group">
                        <input name="search" maxlength="40" class="form-control input-large input-search" size="20" placeholder="Search…" type="text">
                        <span class="input-group-addon input-large btn-search">
                            <input value="" type="submit">
                        </span>
                    </div>
                </form>
            </div>                                
        </div>
    </div>
	<!--SCOLL TOP-->
    <a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--END / SROLL TOP-->
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vit-gallery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.appear.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.littlelightbox.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="{% static 'js/function.js' %}"></script>
    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }
    </script>
</body>
</html>